
.programacao-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  margin-top: 30px;
  background-color: transparent;
}

.programacao-dia {
  display: flex;
  gap: 15px;
  background: #D7462D;
  border-radius: 10px;
  padding: 10px;
  align-items: flex-start;
  transition: all 0.2s ease;
}


.data-dia {
  text-align: center;
  width: 60px;
  flex-shrink: 0;
}

.data-dia .dia-numero {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #d3c60f;
}

.data-dia .mes {
  display: block;
  font-size: 14px;
  color: #7e0163;
}

.lista-artistas {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.artista {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 6px;
  background: rgba(0,0,0,0.05);
  font-size: 14px;
}

.artista .hora {
  font-weight: 600;
}

.hora {
  color: #0ae5ec;
}

.artista{
  background: rgb(160, 13, 13);
}

.artista .nome {
  font-weight: 500;
}

.nome{
  color: #fff;
}

.programacao-dia.encerrado {
  background-color: #6b6969;
}

.programacao-dia.disponivel {
  background: #219332; 
  color: #000;
  font-weight: 600;
}

.programacao-dia.disponivel:hover {
  background: rgba(3, 233, 37, 0.7); 
}

.programacao-dia:hover {
  background: #df3f23;
}

.programacao-dia.encerrado:hover {
  background: #948d8d;
}

