/* base  */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgba(255, 0, 0, 0.322);


}

body.fundo-ponto {
  background-color: rgba(255, 0, 0, 0.322);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.fundo-programacao {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba(0, 140, 255, 0.514) ;

  
}

body.fundo-retro {
  background-color: rgba(0, 128, 0, 0.445);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}