* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fffdfd;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
  
}

