/* CABEÇALHO */
.cabeçalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px auto 0 auto;
  padding: 0 10px;
  position: relative;
  background-color: transparent;
}

/* ÁREA DE LOGIN */
.area-login {
  position: absolute; 
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.btnLogin {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btnLogin:hover {
  background-color: #e91010;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
  padding: 8px;
  border-radius: 12px;
  background-color: transparent;
}

.menu button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  background-color: transparent;
  font-size: 13px;
  transition: all 0.2s ease;
}

.menu button:hover,
.menu button.active {
  background-color: #D7462D;
}


.pagina {
  display: none;
}
.pagina.active {
  display: block;
}

