* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("/versao-mobile/frontend/imagens/fundoMobile.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

}

.topo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding: 0 10px;
  position: relative;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.menu-wrapper button {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  color: #2B2525;
  font-weight: 600;
  transition: all 0.2s ease;
}

.menu-wrapper button:hover,
.menu-wrapper button.active {
  background-color: #d84315;
}

.login-wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.btn-login-topo {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: transparent;
  color: #2B2525;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn-login-topo:hover {
  background-color: #d84315;
}

#voltarMes,
#proximoMes {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
  background: transparent;
  border: none;
  color: #2B2525;
  font-size: 26px;
  font-weight: 900;
}

#voltarMes { left: 5px; }
#proximoMes { right: 5px; }
  
.paginas { width: 100%; }

.pagina { display: none; }
.pagina.active { display: block; }

.janelalogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 90%;
  max-width: 300px;
  padding: 30px 30px 100px;
  border-radius: 15px;
  text-align: center;
}


.fecharlogin {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.fechar {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px; 
  border: none;
  border-radius: 10px;
  color: #000000;
  font-weight: 700;
  cursor: pointer;
}

.botoes-login{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.calendario {
  margin: 20px auto;
  padding: 10px 20px;
  max-width: 350px;
  width: 90%;
  background-color: transparent;
  border-radius: 10px;
}

.cabeçalho .Mes {
  font-size: 20px;
  margin-bottom: 10px;
  color: #2B2525;
  font-family: 'Montserrat', sans-serif;
}

.semanas,
.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.flag {
  background: #d4c22c;
  color: #2B2525;
  width: 100%;
  max-width: 80px;
  margin: auto;
  aspect-ratio: 1 / 1.1;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: clamp(12px, 2.5vw, 20px);
  font-weight: 800;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
}

.flag.fora { opacity: 0.6; }
.flag.bloqueado { background: #D7462D; }
.flag.encerrado { background: #859371; }
.flag.disponivel { background: #219332; }

.fundo-trasparente {
  display: none;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 999;
}



.janela-encerrado {
  background: #859371;
  width: 90%;    
  max-width: 300px;  
  padding: 30px 30px 70px; 
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.janela-bloqueado {
  background: #D7462D;
  width: 90%;    
  max-width: 300px;  
  padding: 30px 30px 70px; 
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.janela-encerrado p,
.janela-bloqueado p {
  font-size: 14px;
  margin-top: 15px; 
}

.janela-encerrado h3,
.janela-bloqueado h3 {
  font-size: 20px;   
}


.janelalogin input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 6px;
  outline: none;
  border: 1px solid #818181;
}

.botoes-logar-registrar{
  display: flex;
  flex-direction: row;   
  gap: 10px;
  width: 100%;
}

#loginForm h2 {
  margin: 15px ;
}

#registerForm h2 {
  margin: 15px ;
  white-space: nowrap; 

}

.botoes-logar-registrar button{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  background: #aca8a8;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
}


.botoes-logar-registrar button.active {
  background: #817f7f;
}

#loginForm button:active, #registerForm button:active {
  background: #eb4527;
}


#loginForm button , #registerForm button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  background: #D7462D;
  color: #000000;
  border-radius: 6px;
  cursor: pointer;
}