
.calendario {
  margin: 80px auto 20px auto;
  padding: 15px 5%;
  max-width: 90%;
  margin-top: 30px;
  width: 350px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
}

.cabeçalho {
  font-size: clamp(16px, 4vw, 20px);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.Mes {
  font-size: 25px !important; 
  line-height: 1.2;
  color: #ffffff;;
}

.semanas{
  color: #ffffff;
}

.dias{
  letter-spacing: 1px;
  color: #ffffff;
}

.semanas,
.dias {

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 10px;
  font-size: 18px;
}

.flag {
  color: #d6cdcd;
  width: 100%;
  max-width: 80px;
  margin: auto;
  aspect-ratio: 1 / 1.1;
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: clamp(12px, 2.5vw, 20px);
  font-weight: 800;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
}

.flag.fora {
  background-color: #0b5c9e8e;
  opacity: 0.6;
}

.flag.bloqueado {
  background: #912218;
}

.flag.encerrado {
  background: #797676cb;
}

.flag.disponivel {
  background: #265f31;
}

.flag.disponivel:hover {
  background: rgba(3, 233, 37, 0.7);
}

.flag.encerrado:hover {
  background: rgba(133, 147, 113, 0.7);
}

.flag.bloqueado:hover {
  background: rgba(215, 70, 45, 0.7);
} 


#voltarMes,
#proximoMes {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: clamp(20px, 6vw, 26px);
  font-weight: 900;
}

#voltarMes{
  left: -5px;
}
#proximoMes {
  right: -5px;
}