.janela-encerrado,
.janela-bloqueado {
  z-index: 10000;
  width: 90%;
  max-width: 300px;
  padding: 30px 5% 70px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.janela-encerrado {
  background-color: #859371;
}

.janela-bloqueado {
  background-color: #D7462D;
}

.janela-encerrado p,
.janela-bloqueado p {
  font-size: 17px;
  margin-top: 15px; 
}

.janela-encerrado h3,
.janela-bloqueado h3 {
  font-size: 20px;   
}

.fundo-transparente {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9998;
  backdrop-filter: blur(3px); 
}


.fechar{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}