@media (max-width: 450px){
  .menu {
    margin-top: 70px;
    gap: 5px;
  }
  .btnLogin {
    font-size: 12px;
    padding: 5px 8px;
  }
  .menu button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .cabeçalho .Mes {
    font-size: 18px;
  }
  #voltarMes, #proximoMes
  { font-size: 24px;
  }
  .calendario { 
    padding: 10px 3%;
    width: 95%;
  }
}

@media (max-width: 380px){
  .menu {
    margin-top: 80px;
    gap: 4px;
  }

  .btnLogin {
    font-size: 11px;
    padding: 4px 6px;
  }

  .menu button {
    font-size: 11px;
    padding: 5px 8px;
  }

  .cabeçalho .Mes {
    font-size: 16px;
  }

  #voltarMes, #proximoMes {
    font-size: 22px;
  }

  .calendario { padding: 8px 3%;
    width: 95%;
  }
}

@media (max-width: 320px){
  .menu {
    margin-top: 30px;
    gap: 10px;
  }

  .btnLogin{
    font-size: 11px;
    padding: 3px 5px;

  }

  .cabeçalho .Mes {
    color: #2B2525;
    font-family: 'Montserrat', sans-serif;
  }
  .menu button{
    font-size: 11px;
    padding: 5px 6px;
  }


  .semanas,.dias{
    font-size: 14px;
  }

  #voltarMes, #proximoMes{
    font-size: 20px;
  }

  .calendario {
    padding: 10px 5%;
    margin-top: 30px;
    width: 90%;
    margin-top: 10px;
  }
}


